<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランキングページ</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <header>
        <h1>ランキングサイト</h1>
        <nav>
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/ranking">ランキングページ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>トップランキング</h2>
        <ul>
            <table border="1">
            <% rankingData.forEach((item, index) => { %>       
                <tr><td><%= index + 1 %><strong>位</td>
                </strong></td><td><%= item.name %><strong></td><td>回答時刻:</strong></td>
                <td><%= item.timestamp %></td></tr><br>
            <% }); %>
        </table>
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 ランキングサイト</p>
    </footer>
</body>
</html>